.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  margin: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 75%
}

.url-input {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.url-input button {
  width: 75px;
  margin-left: 10px;
}